*.rbc
*.DS_Store
*.rdb
*.sassc
.sass-cache
capybara-*.html
.rspec
.sublime-project
.sublime-workspace
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/assets/*
/public/assets/
/public/staging/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.rvmrc
.rvmrc*
.ruby-gemset
.ruby-version
#Rails configs
config/database.yml
config/config.yml
config/shards.yml
config/ey_services_config_deploy.yml
.DS_Store
*.swp
config/resque_scheduler.yml
dump.sql.gz
phraseapp

.tags
.tags_sorted_by_file
*.sublime-*
/.idea
.idea/*
/vendor
/bin
/public/dev-assets/*

/config/environments/development.rb

#config/locales/*
